@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400;700&display=swap');

@import "tailwindcss";

/* سپس: */
@theme {
    --font-vazir: "Vazirmatn", sans-serif;
}
@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
